.results {
  padding: 0 1.25rem;
  margin: 2.5rem 0;
}

@media (min-width: 640px) {
  .results {
    display: grid;
  }
}

@media (min-width: 768px) {
  .results {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1280px) {
  .results {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 2000px) {
  .results {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
